<div class="top">
    <img src='images/Summer Palace_Text.gif' id='loadingpage'/>
</div>

<div class="header">
    
    <p class="byline">
        {{#if author.url }}
            <a href="{{ author.url }}">{{ author.name }}</a>
        {{else}}
            {{ author.name }}
        {{/if}}
    </p>
    <p class="date">Published {{ published_date }}</p>
</div>

<div class="story-body">
  <p>Since 2014, China has issued a number of policies to tackle the air pollution in its capital city, including a ban of coal use in 2017. The air quality in Beijing has improved over the past few years, especially in winter, during which coal heating used to be a major source of pollution in the past.</p>
  <p>In terms of health effects, the guideline states that PM2.5 concentration of 10 is the lowest level at which total, cardiopulmonary and lung cancer mortality have been shown to increase with more than 95% confidence in response to long-term exposure to PM2.5.</p>
  <p>Beijing was once synonymous with dirty air. But in 2014, the government announced a “war against pollution,” pledging to clean up the dangerous haze hanging over many of China’s major cities.
“We will resolutely declare war against pollution as we declared war against poverty,” Premier Li Keqiang announced in front of 3,000 delegates at the National People’s Congress in an address broadcast on state television.
The country set strict limits on burning coal and implemented new emissions standards for power plants and heavy industry. It also banned the construction of new coal plants surrounding Beijing and other highly polluted areas and shut down some of the oldest, most polluting plants.
</p>
</div>


