<div>
    <img src='images/Summer Palace_Text.gif' id='loadingpage'/>
</div>

<div class="header">
    
    <p class="byline">
        {{#if author.url }}
            <a href="{{ author.url }}">{{ author.name }}</a>
        {{else}}
            {{ author.name }}
        {{/if}}
    </p>
    <p class="date">Published {{ published_date }}</p>
</div>

<div class="story-body">
  <p>Since 2014, China has issued a number of policies to tackle the air pollution in its capital city, including a ban of coal use in 2017. The air quality in Beijing has improved over the past few years, especially in winter, during which coal heating used to be a major source of pollution in the past.</p>
</div>


