<div class="top">
    <h1 class='headline' style = 'text-align:center'>A Winning Battle</h1>
    <h2 class='subhead' style = 'text-align:center; color:white'>Fighting Air Pollution In Beijing</h2>
    <p></p>
    <p class='byline' style = 'text-align:center; color:white'>By Ming Li</p>
    <p class='date' style = 'text-align:center;color:white'>PUBLISHED DECEMBER 10,2019</p>
</div>

{{!-- <div class="header">
    
    <p class="byline">
        {{#if author.url }}
            <a href="{{ author.url }}">{{ author.name }}</a>
        {{else}}
            {{ author.name }}
        {{/if}}
    </p>
    <p class="date">Published {{ published_date }}</p>
</div> --}}

<div class="story-body">
  <p>In 2014, the Chinese government announced a “war against pollution”, aiming to clean up the dangerous haze hanging over many parts of the country, especially Beijing. Data showed that pollution level in the city has declined steadily in the past few years.</p>
  <p>PM2.5 – shorthand for particulate matter that is 2.5 micrometers in diameter or smaller, is known as the most harmful air pollutant. From 2014 to 2018, Beijing has seen its level of PM2.5 concentration dropped from 110 to 50 micrograms per cubic meter.</p>
  <p>
</p>
</div>


